annotated-types==0.7.0
astroid==4.0.3
dill==0.4.1
flake8==7.3.0
isort==7.0.0
mccabe==0.7.0
numpy==2.4.1
pandas==3.0.0
platformdirs==4.5.1
pycodestyle==2.14.0
pydantic==2.12.5
pydantic_core==2.41.5
pyflakes==3.4.0
pylint==4.0.4
python-dateutil==2.9.0.post0
six==1.17.0
tomlkit==0.14.0
typing-inspection==0.4.2
typing_extensions==4.15.0
